button{
    border: none;
    background-color: #E77033;
    border-radius: 5px;
    padding: 6px;
}

input.submit {
    border: none;
    background-color: #E77033;
    border-radius: 5px;
    padding: 6px;
}

.container{
    border: 1px solid silver;
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 5px;
}

.subdiv{
    background-color: azure;
    margin: 5px;
    padding: 15px;
    border: 1px solid silver;
    border-radius: 5px;

}

.subdiv input{
    margin: 5px;
}

.subdiv table{
    border: 1px solid silver;
    border-collapse: collapse;
}
    .subdiv table tr{
        text-align: center;
        padding-left: 20px;
    }

    .subdiv table thead{
        background-color: #86BBC5;
    }

    .subdiv table td{
        padding: 18px;
        border: 1px solid silver;
    }

.navbar {
    width: 70%;
    margin: 20px auto;
    background-color: #8EB2C5;
    height: 30px;
    border-radius: 5px;
    padding: 10px;
}

#sidebar {
    width: 20%;
    background-color: #E7E387;
    padding: 10px;
    font-size: 0.7em;
    display: inline-block;
}

.display {
    display: inline-block;
    width: 70%;
    margin: 0;
    text-align: left;
    padding: 5px;
    background-color: azure;
    border: 1px solid silver;
    border-radius: 5px;
    vertical-align: top;
}

    .display h4{
        margin: 5px;
        text-align: center;
    }

.product {
    width: 20%;
    height: 160px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    background-color: orange;
}

.product img{
    height: 120px;
    width: 121px;
    margin: 0;
    background-color: white;
    border: 1px solid silver;
}

.label{
    height: 30px;
    margin: 0;
}

.label p{
    margin: 0;
}
